@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&family=Old+Standard+TT&display=swap');
body {
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

#center_container {
    width: 900px;
    text-align: left;
    margin: 0px auto;
}

header {
    color: rgb(50, 50, 50);
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.section {
    margin-top: 25px;
    margin-bottom: 40px;
    line-height: 200%;
}

.section_title {
    font-size: 36px;
    color: rgba(60, 60, 60, 1);
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 25px;
}

.section_content {
    font-size: 19px;
    color: rgb(30, 30, 30);
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 100px;
}

.quote {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

a {
    color: inherit;
}

.icon {
    font-size: 45px;
}