@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Old+Standard+TT&display=swap');
body {
    width: auto;
    text-align: center;
    background-color: #f5f5f5;
}

#center_container {
    width: 70%;
    max-width: 900px;
    text-align: center;
    margin: 0px auto;
}

#main {
    display: flex;
    flex-direction: row;
}

#main_primary {
    width: 60%;
    text-align: left;
}

#main_secondary {
    width: 40%;
}

#profile_pic_container {
    width: 100%;
}

#profile_pic_inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#social_buttons {
    margin-top: 10px;
}

a,
header,
.section_title {
    /* red */
    /* color: #ef594a; */
    /* blue */
    color: rgba(34, 110, 147, 1);
}

header {
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.section {
    margin-top: 25px;
    margin-bottom: 40px;
    line-height: 200%;
}

.section_title {
    font-size: 36px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 25px;
}

.section_content {
    font-size: 19px;
    color: rgb(30, 30, 30);
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
}

.publication_title {
    font-weight: bold;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 100px;
}

.quote {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

i {
    color: initial;
}

.fa.fa-linkedin-square {
    /* color: #0077B5; */
}

.icon {
    font-size: 45px;
}

.fa.fa-play-circle {
    color: black;
    font-size: 20px;
}

.fa.fa-play-circle:hover {
    color: gray;
}

#last_updated {
    margin-top: 2cm;
    text-align: right;
    font-size: 12px;
}

@media screen and (max-width: 870px) {
    /* mobile */
    #center_container {
        width: auto;
        margin: 0px auto;
    }
    #main {
        display: block;
        flex-direction: initial;
    }
    #main_primary {
        width: auto;
    }
    #main_secondary {
        width: auto;
        text-align: center;
    }
    #profile_pic_container {
        width: 100%;
    }
    #profile_pic_inner {
        width: 90%;
        /* display: inline-block; */
        /* margin: 0 auto; */
        /* padding: 3px; */
        margin-left: auto;
        margin-right: auto;
    }
    .section_title {
        font-size: 32px;
    }
}